.stopwatch {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

.time {
    font-size: 36px;
    margin-bottom: 10px;
}

.controls button {
    margin: 5px;
    background-color: lightblue;
    border: 2px solid blue;
}
